!!! 5
html#protest(lang="en")
	head
		link(rel='stylesheet', href="stylesheets/style.css");
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8");
		title index
		meta(name="generator", content="TextMate http://macromates.com/");
		meta(name="author", content="Robbert Streng");

		script(type="text/javascript", charset="utf-8", src="http://code.jquery.com/jquery.min.js");
		script(type="text/javascript", charset="utf-8", src="javascripts/ecmamonster/isoworldengine/jquery.isoWorldEngine.1.0.js", type="text/javascript")		
		script(type="text/javascript", charset="utf-8", src="javascripts/main.js");
		
	body!= body